@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.righteous-letter{
    font-family: "Righteous";
}
.small-letter, .main-food, .price, .prices{
    font-size: 16px;
}
.medium-letter{
    font-size: 18px;
}
.big-letter{
    font-size: 44px;
}
.order-letter{
    font-size: 22px;
}
.food-letter{
    font-size: 26px;
    font-family: "Righteous";
}
.white{
    color: #fff;
}
.black{
    color: #333333;
}
.grey{
    color: #a6a6a6;
}
body{
    background: #e5e5e5;
    font-family: "Roboto";
    font-weight: 400;
}
.lightweight-font{
    font-weight: 300;
}
.top-bar{
    height: 92px;
    width: 100%;
    background: #cf2b2b;
    padding-left: 21px;
    display: flex;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;   
    border-radius: 4px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trademark{
    width: 226px;
    display: flex;
    flex-direction: column;
}
.menu-content{
    background: #e5e5e5;
    padding-left: 19px;
    margin-top: 148px;
    margin-bottom: 108px;
}
.food-type{
    margin-bottom: 17px;
    margin-top: 27px;
    font-size: 26px;
}
.dish-menu, .drink-menu, .dessert-menu{
    height: 216px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.dishes1, .dishes2, .dishes3, .dishes4, .drinks1, .drinks2, .drinks3, .drinks4, .desserts1, .desserts2, .desserts3, .desserts4{
    height: 216px;
    width: 172px;
    margin-right: 16px;
    border-radius: 9px;
    background: #fff;
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 20px;
    padding-top: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    position: relative;
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.09), 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}
img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.icon-check{
    font-size: 16px;
    position: absolute;
    top: 185px;
    left: 144px;
    color: #32b72f;
}

.hidden{
    display: none;
}
.bottom-bar{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    position: fixed;
    left: 0;
    border-radius: 4px;
    top: calc(100% - 92px);
    font-size: 20px;
    background: #fff;
}
.shop-buttom{
    height: 61px;
    width: 364px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
.buy-buttom{
    background: #32b72f;
    font-weight: 700;
    padding-left: 110px;
   
}
.waiting-buttom{
    background: #cbcbcb;
}
.dish-selected, .drink-selected, .dessert-selected{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 5px #32b72f;
}
.meal-review {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: calc(50% - 175px);
    left: calc(50% - 185px);
    width: 370px;
    height: 350px;
    background-color: #50D074;
    color: #fff;
    border-radius: 9px;
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
.prices{
    display: flex;
    width: auto;
}
.meal-review div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
}
.freezed-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.hide-overflow{
    overflow: hidden;
} /* finalização do projeto com todos estilos add */

